@layout("app")

@section("page")
<div>
    <h3 class="article-title">UTF-NEWS</h3>
    <article>
        <strong>Trazemos boas notícias!</strong>
        <p></p>
        <p>
        Porta de noticias exemplo em NodeJS
        </p>
        <p>
        Github:
        </p>
        <p>
        trabalho desenvolvido durante a disciplina web 2
        </p>
        
    </article>
</div>
@endsection
